<!DOCTYPE html>
<html>
  <head>
    <title>DASH Dance Acadmy</title>

    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_121502.png&amp;f=1&amp;nofb=1"
          alt=""
        />
        <h1>DDA</h1>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#missionSection">Our Mission</a></li>
        <li><a href="#sponsorSection">Our Sponsors</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <section id="introSection">
      <div>Welcome to Dash Dance Acadmy</div>
      <div class="small">Eat Sleep Dance Repeat</div>
    </section>
    <section id="missionSection">
      <h2>Our Mission</h2>
      <div class="card_container">
        <div class="card">
          <h3>Dance Perfaction</h3>
          <div class="card-box">
            <div class="card-img">
              <img
                src="https://images.unsplash.com/photo-1537365587684-f490102e1225?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              />
            </div>
            <p>
              We are committed to providing high-quality instruction, nurturing
              a supportive learning environment, and fostering a passion for
              dance that lasts a lifetime.
            </p>
          </div>
        </div>
        <div class="card">
          <h3>Dance the way you like</h3>
          <div class="card-box">
            <div class="card-img">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.leytonfc.co.uk%2Fwp-content%2Fuploads%2F2018%2F07%2Fdance-classes-1140x753.jpg&amp;f=1&amp;nofb=1"
              />
            </div>
            <p>
              We welcome dancers of all backgrounds, ages, and abilities,
              promoting diversity, respect, and inclusivity within our dance
              community.
            </p>
          </div>
        </div>
        <div class="card">
          <h3>Expert teaching</h3>
          <div class="card-box">
            <div class="card-img">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.royalballetschool.org.uk%2Fwp-content%2Fuploads%2F2019%2F12%2FCROPPED-scaled-846x321.jpg&amp;f=1&amp;nofb=1"
              />
            </div>
            <p>
              We are committed to ongoing learning and improvement, staying
              current with industry trends and teaching methodologies to provide
              our dancers with the best possible dance education.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="sponsorSection">
      <h2>
        Our Sponsors
        <div id="sponsors">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.freepnglogos.com%2Fuploads%2Fvisa-inc-png-18.png&amp;f=1&amp;nofb=1"
            alt="sponsor image"
            Class="sp_img"
          /><img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.freelogovectors.net%2Fwp-content%2Fuploads%2F2012%2F02%2Fdell-logo_2016.png&amp;f=1&amp;nofb=1"
            alt="sponsor image"
            Class="sp_img"
          /><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-world.net%2Fwp-content%2Fuploads%2F2020%2F04%2FAdidas-Logo-1971-present.png&amp;f=1&amp;nofb=1"
            alt="sponsor image"
            Class="sp_img"
          /><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.freebiesupply.com%2Fimages%2Flarge%2F2x%2Fred-bull-logo-png-transparent.png&amp;f=1&amp;nofb=1"
            alt="sponsor image"
            Class="sp_img"
          /><img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Flogos-download.com%2Fwp-content%2Fuploads%2F2016%2F03%2FLays_logo.png&amp;f=1&amp;nofb=1"
            alt="sponsor image"
            Class="sp_img"
          />
        </div>
      </h2>
    </section>
    <footer id="footer">
      Copyright © DashDanceAcademy | All Rights Reserved
    </footer>
  </body>
</html>
