<!DOCTYPE html>
<html>
  <head>
    <title>DASH Dance Acadmy</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/style_contact.css" />
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_121502.png&amp;f=1&amp;nofb=1"
          alt=""
        />
        <h1>DDA</h1>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <section class="contact-section">
      <h2>Form Submitted</h2>
      <p>Your form is submitted and stored. We will get you soon</p>
    </section>
    <footer id="footer">
      Copyright © DashDanceAcademy| All Rights Reserved
    </footer>
  </body>
</html>
